numpy>=1.16.0
astropy>=4.1.0
sunpy
git+https://github.com/HERMES-SOC/hermes_core/
flake8 # for code style
black # for code style
tox
pytest # for testing
pytest-astropy
pytest-cov
pre-commit
sphinx # for documentation
sphinx-automodapi # for documentation
sphinx-changelog # for changelog in documentation
towncrier # for building changelog for documentation
ipython # for easier debugging
